* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 10px 50px;
  background-color: black;
}

.headline{
  color: yellow;
}

main {
  display: flex;

}

.flex1 {
  flex: 1;
}